{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <img src="{% static "images/photo.jpg" %}" alt="Моё фото" width="100%"/>
        </div>
        <div class="col-sm-12">
            <h2 class="text-center">Роуэн Аткинсон {% if title|length > 1 %} - {{ title }}{% endif %}</h2>
            <p class="lead">
                Имя Роуэна Аткинсона неразрывно связано со знаменитым персонажем мистером Бином, героем одноименного сериала. Эта роль принесла британскому комику широкую известность, а также миллионы преданных поклонников по всему миру. Оригинальная и запоминающаяся внешность наравне с незабываемой мимикой сделали его одним из самых узнаваемых британских звезд.
            </p>
<p class="lead">
Роуэн родился в многодетной семье 6 января 1955 года в небольшом горном городке Консетт. Его родители не имели никакого отношения к телевидению или сцене. Отец Эрик занимался фермерским хозяйством, а мать Элла Мэй помогала ему и воспитывала троих детей. Уже в детстве мальчик обладал весьма уникальной мимикой, способной рассмешить практически любого, чем Аткинсон нередко занимался в школе. Там он слыл главным шутником и клоуном, что делало Роуэна одним из самых узнаваемых и запоминающихся учеников.
</p>
            <p class="lead">
В возрасте 11 лет его перевели в престижную школу Чористер, где на тот момент учился будущий премьер министр Великобритании Тони Блэр. Позже Роуэн перешел в другую закрытую частную школу Сент Бис, расположенную на северо-западе Англии. В ней много внимания уделялось различным спортивным дисциплинам, в которых Аткинсон чувствовал себя весьма не комфортно. Его телосложение было далеко от атлетического, а тренировки быстро изнуряли. Одноклассники нередко посмеивались над слабым пареньком, и тогда Роуэн решил воспользоваться этим. В раздевалке он пародировал преподавателей, превратив насмешки в чистое и искреннее восхищение ребят своими комедийными талантами. Благодаря этому он смог пережить стыд, который испытывал от своей беспомощности в спорте, и заслужить уважение среди подростков.
</p><p class="lead">
По окончанию колледжа будущий актер начал испытывать неловкость за свою подростковую клоунаду и замкнулся, став весьма серьезным и скромным парнем. О карьере на сцене Аткинсон даже не задумывался, в его голове вырисовывались серьезные перспективы в научной стезе. Роуэн легко поступил в Университет Ньюкасла на факультет электроники. Физику комик обожал с детства и легко запоминал огромные формулы, способные вызвать дрожь у многих людей с гуманитарным складом ума. Технические науки всегда давались ему легко, поэтому после окончания университета Роуэна пригласили в Оксфорд, где ему предстояло написать докторскую работу. Именно во время обучения в жизни актера появились замечательные люди: писатель Ричард Кертис и композитор Говард Гудалл, которые стали его лучшими друзьями и коллегами в будущей карьере.
</p>
            <p class="lead">
Аткинсон занялся лицедейством и клоунадой на втором курсе, просто попав в хорошую компанию, не мыслящую своей жизни без сцены. Он стал участником Клуба экспериментального театра и Драматического сообщества оксфордского университета. Его юмористические скетчи пользовались большой популярностью у студентов и преподавателей, что позволило Роуэну без труда выиграть несколько комедийных фестивалей. Сценарии актер писал в соавторстве со своим другом Кертисом, который также в будущем добился немалых успехов на поприще кинематографа.
</p><p class="lead">
После получения степени магистра Аткинсон в составе театральной группы "Etceteras" отправился в турне по Англии.
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}